@font-face {
	font-family: 'HP Simplified W04 Regular';
	src: url('../fonts/HPSimplifiedW04-Regular.eot');
	src: local('HP Simplified W04 Regular'),
		local('HP Simplified W04 Regular'),
		url('../fonts/HPSimplifiedW04-Regular.ttf') format('truetype');
}

body { font-family: HP Simplified w04 Regular; position:absolute; padding:0; margin:0; left:0; top:0; right:0; bottom:0; overflow:hidden; background:#d9d9d9; font-size:12px; }
.header{ position:absolute; top:10px; height:90px; right:10px; left:10px; background:#F3F3F3; border-radius:10px; border:1px solid black; }
.title { font-weight:bold; font-size:30px; position:absolute; text-align:center; width:100%; color:#0096d6; }
.logo  { position:absolute; height:60px; width:60px; left:20px; top:20px; cursor:pointer; }
.menuBar { position:absolute; left:85px; right:20px; z-index:3; top:30px; }
.menuItems { list-style-type:none; width:100%; margin:12px 0; padding:0; text-align:center; }
.menuItems li { position:relative; float:left; width:20%; font-weight:bold; font-size:22px; }
.dateTime { position:absolute; z-index:4; right:20px; top:10px; font-weight:bold; font-size:15px; }
.content { position:absolute; top:110px; bottom:30px; left:10px; right:10px; border:1px solid black; overflow-y:auto; overflow-x:hidden; margin:auto; padding:auto; text-align:center; }
.container { position:relative; width:49.5%; height:423px; border:1px solid; background:#ccc; float:left; }
.graphLabelapp, .graphLabelsprint, .graphLabellocation, .graphLabelcoreteam, .graphLabelplatform { font-weight:normal; font-size:12px; }
.legendLabelsprint, .legendLabelapp, .legendLabellocation, .legendLabelcoreteam, .legendLabelplatform { font-weight:bold; font-size:14px; }
.sideBox { overflow:auto; }
span.name:after { content : url('../img/down.gif'); margin:0 5px; }
span.child { display:block; top:20px; font-size:12px; font-weight:normal; left:-25%; color:#0096d6 }
span.name { display:inline-block; }
#container5 { height:423px; }
.tableHeader { text-align:center; font-weight:bold; font-size: 15px; margin-bottom:10px; }

.menutable { font-weight:normal; text-align:left; font-size:12px; position:relative; left:35%; top:12px; display:none; }
.menutable table { background:#fff; }

.menutable td { border: none; padding: 2px 8px; }

.label { position:absolute; left:10px; top:10px; width:75px; height:60px; text-align:left; }
.passLabel { width:25px; display:inline-block; height:20px; background:#0096d6; border-radius:5px; margin:-5px 10px; }
.failLabel { width:25px; display:inline-block; height:20px; background:#606060; border-radius:5px; margin:-5px 10px; }
.heading { position:absolute; left:80px; top:10px; right:80px; text-align:center; height:60px; font-weight:bold; font-size:20px; }

.chart { position:absolute; top: 80px; bottom:10px; left:10px; right:10px; }

#source { font-weight:bold; font-size:16px; }
#target { width:300px; height:300px; position:relative; left:40px; top:40px; right:40px; float:left; }
#descriptions  { float:right; width:200px; height:200px; position:relative; bottom:10px; font-weight:bold; font-size:16px; right:10px; }

.mask { position:absolute; left:0; top:0; bottom:0; right:0; background:#000; opacity:0.4; z-index:4; display:none; }
.maskData { position:absolute; left:25%; top:25%; max-height:50%; right:25%; background:#aaa; z-index:5; overflow:auto; padding:20px; display:none; opacity:1; border-radius:5px; }

.maskData tr:nth-child(even) { background:#0096d6; }
   
.pieChart { 	stroke: black; stroke-width: 1; }

.pie0 { fill:#0096d6; }
.pie1 { fill:#606060; }

@media only screen and (min-width: 1200px) {
   .container { min-width:580px; }
}

@media only screen and (max-width: 1200px) {
   .menuItems { margin:15px 0; }   
   .menuItems li { font-size:18px; }
   .container { width:99%; }
}

@media only screen and (max-width: 500px) {
   .menuItems { margin:15px 0; }
   .menuItems li { font-size:16px; }
}

@media only screen and (max-width: 350px) {
   .menuItems { margin:21px 0; }
   .menuItems li { font-size:12px; }
}
